@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Display";
  src:
    local("SF Pro Display Regular"),
    local("SFProDisplay-Regular"),
    url("../assets/fonts/sf-pro-display-regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact Display";
  src:
    local("SFCompactDisplay-Regular"),
    local("SFCompactDisplay-Regular"),
    url("../assets/fonts/SF-Compact-Display-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

body {
  min-height: 100dvh;
}

ul {
  list-style: none;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@layer utilities {

  /* Display Regular */
  .text-display-xl-regular {
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "SF Compact Display", sans-serif;
  }

  .text-display-l-regular {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-m-regular {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-s-regular {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-xs-regular {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  /* Display Bold */
  .text-display-xl-bold {
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-l-bold {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-m-bold {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-s-bold {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-display-xs {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "SF Pro Display", sans-serif;
  }

  /* Body Regular */
  .text-body-x-regularl {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.75px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-body-l-regular {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.75px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-body-m-regular {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-body-s-regular {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-family: "SF Pro Display", sans-serif;
  }

  /* Body Bold */
  .text-body-xl-bold {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.75px;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-body-l-bold {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.75px;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-body-m-bold {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif;
  }

  .text-body-s-bold {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: 600;
    font-family: "SF Pro Display", sans-serif;
  }

}